:root {
  --bg-color: #fff;
  --md-color: #eee;
  --fg-color: #555;

  --text-color: #000;
  --text-size-normal: 1em;
  --text-size-medium: 1.5em;
  --text-size-large: 2em;

  --font-family: "Noto Serif", system-ui, -apple-system, serif;
  --font-family-mono: "Noto Sans Mono", monospace;
  --font-weight: 400;
  --font-weight-bold: 600;

  --grid-padding: 20px;
  --cell-padding: 5px 10px;

  --border: 1px solid;
}

html {
  background-color: var(--md-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

body {
  background-color: var(--bg-color);
  max-width: 800px;
  margin: var(--grid-padding) auto;
  padding: var(--grid-padding);
  border: var(--border);
  display: grid;
  grid-template-rows: auto 1fr;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: linktext;
}

article {
  display: grid;
  gap: var(--grid-padding);
  grid-template-columns: 1fr;
  align-items: stretch;
}

@media (min-width: 600px) {
  article {
    grid-template-columns: 1fr 1fr;
  }
}

.full-width {
  grid-column: 1 / -1;
}

header h1 {
  font-family: var(--font-family-mono);
  font-size: var(--text-size-large);
  margin: 0;
}

header h1 a,
header h1 a:visited,
header h1 a:active {
  text-decoration: none;
  color: var(--text-color);
}

header h1 a:hover {
  color: var(--fg-color);
}

time {
  font-family: var(--font-family-mono);
}

section {
  border: var(--border);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

section > figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

section > figure > figcaption {
  padding: var(--cell-padding);
  font-style: italic;
  border-top: var(--border);
  background-color: var(--md-color);
  line-height: var(--text-size-medium);
}

section > header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  padding: var(--cell-padding);
  background-color: var(--fg-color);
  color: var(--bg-color);
}

section > header > h2 {
  margin: 0;
  font-size: var(--text-size-medium);
  font-family: var(--font-family-mono);
}

section > header > svg {
  fill: var(--bg-color);
  height: var(--text-size-medium);
  width: auto;
}

section > div {
  flex-grow: 1;
  margin-top: auto;
}

section > div > div {
  padding: var(--cell-padding);
}

section > footer {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-mono);
  line-height: var(--text-size-medium);
  border-top: var(--border);
  padding: var(--cell-padding);
  background-color: var(--md-color);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table tr:first-child {
  display: none;
}

table tr {
  border-bottom: var(--border);
}

table td {
  vertical-align: top;
  padding: var(--cell-padding);
}

table tr:last-child {
  border-bottom: none;
}

table td:last-child {
  text-align: right;
}

table ul {
  margin-top: 4px;
  padding: 0;
  list-style: none;
}

table ul li {
  position: relative;
  padding-left: 24px;
  margin-top: 4px;
  color: var(--fg-color);
}

table ul li::before {
  content: "└─";
  position: absolute;
  left: 0;
  color: var(--fg-color);
}

.monospaced {
  font-family: var(--font-family-mono);
}

.last-col-bolded td:last-child {
  font-weight: var(--font-weight-bold);
}

.rows-gridded tr {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.rows-gridded td:first-child {
  grid-column: 1 / -1;
  font-weight: var(--font-weight-bold);
}

.no-wrap {
  white-space: nowrap;
}
