:root {
  --base-red: 0;
  --base-green: 0;
  --base-blue: 255;

  --bg-color: #fff;
  /* #eee */
  --md-color: rgba(var(--base-red), var(--base-green), var(--base-blue), 0.07);
  /* #555 */
  --fg-color: rgba(var(--base-red), var(--base-green), var(--base-blue), 0.67);
  --main-color: rgba(var(--base-red), var(--base-green), var(--base-blue), 1);

  --link-color: #000;

  --text-size-normal: 1em;
  --text-size-medium: 1.5em;
  --text-size-large: 2em;

  --font-family: "Noto Serif", system-ui, -apple-system, serif;
  --font-family-mono: "Noto Sans Mono", monospace;
  --font-weight: 400;
  --font-weight-bold: 600;

  --grid-padding: 20px;
  --cell-padding: 5px 10px;

  --border: 1px solid var(--main-color);
}

html {
  background-color: var(--bg-color);

  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--main-color);

  scrollbar-gutter: stable;
}

body {
  background-color: var(--bg-color);
  max-width: 800px;
  margin: var(--grid-padding) auto;
  padding: var(--grid-padding);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

hr {
  border-top: var(--border);
}

.tinted {
  position: relative;
  display: inline-block;
}

.tinted::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(var(--base-red), var(--base-green), var(--base-blue));
  mix-blend-mode: lighten;
  pointer-events: none;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: var(--link-color);
}

nav > ul {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-padding);
  font-family: var(--font-family-mono);
  margin: 0;
}

nav > ul > li > a {
  display: block;
  padding: var(--cell-padding);
  border: var(--border);
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 2px 2px
    rgba(var(--base-red), var(--base-green), var(--base-blue), 0.07);
}

nav > ul > li > a:hover {
  box-shadow: 2px 2px
    rgba(var(--base-red), var(--base-green), var(--base-blue), 0.25);
  background-color: var(--md-color);
}

.active {
  box-shadow: 2px 2px
    rgba(var(--base-red), var(--base-green), var(--base-blue), 0.25);
  background-color: var(--md-color);
}

.active:hover {
  background-color: var(--bg-color);
  box-shadow: 2px 2px
    rgba(var(--base-red), var(--base-green), var(--base-blue), 0.07);
}

article {
  display: grid;
  gap: var(--grid-padding);
  grid-template-columns: 1fr;
  align-items: stretch;
}

.placeholder {
  display: none;
}

@media (min-width: 600px) {
  article {
    grid-template-columns: 1fr 1fr;
  }

  nav > ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .placeholder {
    display: block;
    padding: var(--cell-padding);
    border: var(--border);
    background-color: var(--fg-color);
    box-shadow: 2px 2px
      rgba(var(--base-red), var(--base-green), var(--base-blue), 0.07);
  }
}

.full-width {
  grid-column: 1 / -1;
}

header > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: var(--font-family-mono);
  font-size: var(--text-size-large);
  margin: 0;
}

header h1 a,
header h1 a:visited,
header h1 a:active {
  text-decoration: none;
  color: var(--main-color);
}

header h1 a:hover {
  color: var(--fg-color);
}

time {
  font-family: var(--font-family-mono);
}

section {
  border: var(--border);
  box-shadow: 2px 2px
    rgba(var(--base-red), var(--base-green), var(--base-blue), 0.25);
  display: flex;
  flex-direction: column;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

section > figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

section > figure > figcaption {
  padding: var(--cell-padding);
  font-style: italic;
  border-top: var(--border);
  background-color: var(--md-color);
  line-height: var(--text-size-normal);
}

section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
  padding: var(--cell-padding);
  background-color: var(--fg-color);
  color: var(--bg-color);
}

section > header > h2 {
  margin: 0;
  font-size: var(--text-size-normal);
  font-family: var(--font-family-mono);
}

section > header > svg {
  fill: var(--bg-color);
  height: var(--text-size-medium);
  width: auto;
}

section > header > img {
  fill: var(--bg-color);
  height: var(--text-size-normal);
  width: auto;
}

section > div {
  flex-grow: 1;
  margin-top: auto;
}

section > div > div {
  padding: var(--cell-padding);
}

section > footer {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-mono);
  line-height: var(--text-size-medium);
  border-top: var(--border);
  padding: var(--cell-padding);
  background-color: var(--md-color);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table tr:first-child {
  display: none;
}

table tr {
  border-bottom: var(--border);
}

table tr:hover {
  background-color: var(--md-color);
  /*
  background: repeating-linear-gradient(
    45deg,
    var(--bg-color) 0px,
    var(--bg-color) 10px,
    var(--md-color) 10px,
    var(--md-color) 20px
  );
  */
}

table td {
  vertical-align: top;
  padding: var(--cell-padding);
}

table tr:last-child {
  border-bottom: none;
}

table ul {
  margin-top: 4px;
  padding: 0;
  list-style: none;
}

table ul li {
  position: relative;
  padding-left: 24px;
  margin-top: 4px;
  color: var(--fg-color);
}

table ul li::before {
  content: "└─";
  position: absolute;
  left: 0;
  color: var(--fg-color);
}

.monospaced {
  font-family: var(--font-family-mono);
}

.important {
  font-size: var(--text-size-medium);
  font-weight: var(--font-weight-bold);
}

.last-col-bolded td:last-child {
  font-weight: var(--font-weight-bold);
}

.rows-gridded tr {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.rows-gridded td:first-child {
  grid-column: 1 / -1;
  font-weight: var(--font-weight-bold);
}

.blog-preview tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.blog-preview td:last-child {
  grid-column: 1 / -1;
}

.right-aligned {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  -webkit-font-smoothing: none;

  display: block;
  margin: 0;
  padding: 0;
}

.blended {
  background-color: var(--main-color);
  height: var(--text-size-large);
  width: auto;
}

.error > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-mono);
  padding: var(--grid-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--fg-color) 0px,
    var(--fg-color) 10px,
    var(--md-color) 10px,
    var(--md-color) 20px
  );
}

.error > div > span {
  background-color: white;
  border: var(--border);
  padding: 2px 4px;
}
