<!-- Landing page for website -->
<!doctype html>
<html>
  <head>
    <title>{{.Title}} - Personal Website</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/">{{.Message}}</a>
      </h1>
      <!--
      <nav>
        <a href="/">Home</a>
      </nav>
      -->
      <hr />
    </header>
    <main>
      <article class="container">
        <section class="half-width" role="region" aria-label="About">
          <img src="static/pic.webp" />
        </section>
        {{template "brief" .}} {{template "commits" .}} {{template "reading" .}}
        {{template "status" .}} {{template "movies" .}}
      </article>
    </main>
    <footer>
      <hr />
      <p>This is an example footer.</p>
    </footer>
  </body>
</html>
