<!-- A short bio and contact information -->
{{define "brief"}}
<section class="half-width" role="region" aria-label="About">
  <header>
    <h2>Brief</h2>
    <img class="pixelated" src="/static/user.png" />
  </header>
  <div>
    <table class="monospaced last-col-bolded">
      <th>Data</th>
      <th>Detail</th>
      <tr>
        <td>Henry J. Webster</td>
        <td>Name</td>
      </tr>
      <tr>
        <td>Chicago, IL, USA</td>
        <td>Locale</td>
      </tr>
      <tr>
        <td>
          <div>
            Lead Software Engineer @<a
              class="no-wrap"
              href="https://www.prismdata.com"
              target="_blank"
              rel="noopener noreferrer"
              >Prism Data</a
            >
          </div>

          <ul>
            <li>b2b open banking analytics API</li>
            <li>ML model deployment</li>
            <li>customer integration</li>
            <li>internal pipelines + tools</li>
          </ul>
        </td>
        <td>Role</td>
      </tr>
    </table>
  </div>
  <footer>
    <nav>
      <a href="mailto:henz.world.qv1ok@dralias.com">Email</a>
      <a
        href="https://www.linkedin.com/in/hwebs/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
    </nav>
  </footer>
</section>
{{end}}
