{{define "commits"}} {{if .Commits}}
<section class="full-width" role="region" aria-label="About">
  <header>
    <h2>After-Hours Code</h2>
    <img class="pixelated" src="/static/moon.png" />
  </header>
  <div>
    <table class="monospaced rows-gridded">
      <th>Message</th>
      <th>Repo</th>
      <th>Datetime</th>
      {{range .Commits}}
      <tr>
        <td>
          <a href="{{.URL}}">{{.Message}}</a>
        </td>
        <td>
          <a href="{{.RepoURL}}">{{.RepoName}}</a>
        </td>
        <td class="right-aligned">
          <time datetime="{{formatHtmlDateTime .Date}}"
            >{{formatDateTime .Date}}</time
          >
        </td>
      </tr>
      {{end}}
    </table>
  </div>
  <footer>
    <nav>
      <a href="https://github.com/henrywebster" target="_blank" rel="noopener"
        >GitHub</a
      >
    </nav>
  </footer>
</section>
{{else}}
<section class="full-width error">
  <header>
    <h2>After-Hours Code</h2>
    <img class="pixelated" src="/static/warning.png" />
  </header>
  <div><span>Something went horribly wrong.</span></div>
</section>
{{end}} {{end}}
