<!-- Landing page for website -->
{{define "content"}}
<main>
  <article>
    <section class="half-width" role="region" aria-label="About">
      <div class="tinted">
        <img src="static/me.avif" alt="Picture of Henry" />
      </div>
    </section>
    {{template "brief" .}} {{template "commits" .}} {{template "reading" .}}
    {{template "status" .}} {{template "movies" .}}
    <section class="half-width" role="region" aria-label="About">
      <figure>
        <div class="tinted">
          <img src="static/cat.avif" alt="Cat in Tamba-Sasayama, Japan" />
        </div>
        <figcaption>Cat in Tamba-Sasayama, Japan</figcaption>
      </figure>
    </section>
  </article>
</main>
{{end}}
