{{define "movies"}}
<section class="half-width" role="region" aria-label="About">
  <header>
    <h2>Recently Watched</h2>
    <img class="pixelated" src="/static/film.png" />
  </header>
  <div>
    <table>
      <th>Movie</th>
      <th>Date</th>
      {{range .RecentlyWatched}}
      <tr>
        <td>
          <a href="{{.URL}}"><em>{{.Title}}</em> ({{.Year}})</a>
        </td>
        <td>
          <time class="no-wrap" datetime="{{formatHtmlDate .WatchedDate}}"
            >{{formatDate .WatchedDate}}</time
          >
        </td>
      </tr>
      {{end}}
    </table>
  </div>
</section>
{{end}}
