{{ define "content" }}
<article class="centered-grid">
    <heading>
    <h1>{{.Post.Title}}</h1>
    <div><b>By Henry J. Webster</b></div>
    <time datetime="{{.Post.CreatedAt}}">{{ formatDate .Post.CreatedAt }}</time>
    </heading>
    <div>{{.Post.Content}}</div>
<footer>
    <div class="boxed">
        <header>
            <h2>Contact</h2>
        </header>
        <address>
            <a href= "mailto:henz.world.qv1ok@dralias.com">Email</a>
            <a href= "https://www.linkedin.com/in/hwebs/">LinkedIn</a>
        </address>
    </div>
</footer>
</article>
{{ end }}
