{{ define "reading" }} {{ if .CurrentlyReading }}
<section class="half-width boxed">
    <header>
        <h2>Currently Reading</h2>
    </header>
    <table class="collapsed">
        <tr>
            <th>Book</th>
            <th>Author</th>
        </tr>
        {{ range .CurrentlyReading }}
        <tr>
            <td>
                <a href="{{.URL}}"><em>{{.Title}}</em></a>
            </td>
            <td>{{.AuthorName}}</td>
        </tr>
        {{ end }}
    </table>
</section>
{{ else }}
<div role="alert" class="error">
    <header>
        <h2>Currently Reading</h2>
        <img class="pixelated" src="/static/warning.png" />
    </header>
    <div>
        <span>Something went horribly wrong.</span>
    </div>
</div>
{{ end }} {{ end }}
